:root {
  --theme: #101114;
  --element: #070a10;
  --text: lightgrey;
}
* {
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 2rem;
  text-decoration: none;
  text-align: center;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--theme);
  margin: 0;
  padding-top: 5rem;
  overflow-x: hidden;
}
.favicon {
  border-radius: 50%;
}
header {
  background-color: var(--element);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 8vw;
  font-weight: bold;
  z-index: 9;
}
.header * {
  text-align: center;
  width: 33vw;
  font-weight: bold;
}
.logo {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  object-fit: cover;
}
.menu {
  height: 1.5rem;
  width: 1.5rem;
}
.wideVideo,
.wideVideo video {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}
h1 {
  color: transparent;
  -webkit-text-stroke: 1px var(--text);
  font-size: 3rem;
}
article {
  padding-inline: 1rem;
  margin-block: 16vh;
}
.firstArticle {
  margin-block: 6vh;
}
.a {
  padding: 6px;
  background-color: var(--theme);
  filter: brightness(1.5);
  border-radius: 6px;
  text-decoration: none;
  text-shadow: #4975cd 0 0 1rem;
  font-size: 1rem;
  text-decoration: none;
  transition: all .15s ease;
}
.a:hover {
  text-shadow: #4975cd 0 0 3rem;
  filter: brightness(2);
  animation: bounce 2s cubic-bezier(.31,.14,.54,.84) both infinite;
}
@keyframes bounce {
  50% {translate: 0 -.5rem; box-shadow: 0 0 2rem #070a10;}
}
.galleryGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  justify-content: center; /* Centers grid items horizontally */
  align-items: center; /* Centers grid items vertically */
  justify-items: center; /* Centers each item inside its grid cell */
}

.galleryGrid * {
  height: calc(32vw - 4rem - 6vw);
  width: calc(24vw - 6rem);
  max-width: 512px;
  max-height: 666px;
  object-fit: cover;
  border-radius: 2px;
  box-shadow: 0 0 2rem black;
  transition: all .25s ease;
  cursor: pointer;
}
.galleryGrid *:hover {
  transform: scale(1.2);
}
button {
  background-color: transparent;
  border:  1px solid rgba(255, 255, 255, 0.75);
  padding-block: .1rem;
  padding-inline: .5rem;
  border-radius: 1rem;
  text-shadow: #3b5892 0 0 1rem;
  text-decoration: none;
  cursor: pointer;
}
p {
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  margin-top: 3rem;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.spacer {
  height: 1rem;
}
.footer {
  margin-top: 6rem;
  background-color: var(--element);
  margin-bottom: 0;
}
.footerArticle {
  background-color: var(--element);
  margin-bottom: 0;
  padding: 1rem;
  text-align: center;
  font-size: .66rem;
  color: grey;
}
